@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf?a8ga0a') format('truetype'),
    url('fonts/icons.woff?a8ga0a') format('woff'),
    url('fonts/icons.svg?a8ga0a#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fb:before {
  content: "\e908";
  color: #354657;
}
._icon-home1:before {
  content: "\e909";
  color: #626262;
}
._icon-instagram:before {
  content: "\e90a";
  color: #354657;
}
._icon-linkedin:before {
  content: "\e90b";
  color: #354657;
}
._icon-loupe1:before {
  content: "\e938";
  color: #354657;
}
._icon-pinterest-social-logo:before {
  content: "\e939";
  color: #354657;
}
._icon-shopping-bag1:before {
  content: "\e93d";
  color: #354657;
}
._icon-user1:before {
  content: "\e93e";
  color: #354657;
}
._icon-youtube:before {
  content: "\e93f";
  color: #354657;
}
